.title {
    text-align: center;
}

.select-container {
    display: inline-block;
    position: relative;
    width: 240px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid;
    border-image-source: linear-gradient(97.64deg, #54F4DF 19.69%, #2AB6FD 96.22%);
    border-image-slice: 1;
    background: lightblue;
}

.selected-text {
    padding: 10px 20px;
    cursor: pointer;
}

.selected-text::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 16px;
}

ul {
    margin: 0;
    padding: 0;
    text-align: center;
    border-radius: 5px;
}

.select-options {
    position: absolute;
    margin-top: 5px;
    width: 100%;
    border: 1px solid #e4e4e4;
    text-transform: uppercase;
    text-align: left;
    background: lightblue;
}

li {
    list-style-type: none;
    padding: 6px 20px;
    border-bottom: 1px solid #e4e4e4;
    cursor: pointer;
}

li:last-child {
    border-bottom: none;
}

li:hover {
  background: lightgray;
}

.show-dropdown-options {
    min-height: 50px;
    opacity: 1;
    visibility: visible;
}

.hide-dropdown-options {
    min-height: 0;
    opacity: 0;
    visibility: hidden;
}
