@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@1;200&display=swap');

.App {
   display: grid;
   place-items: center;
   font-family: 'Sofia Sans', sans-serif;
   font-weight: 600;
   font-size: 14px;
   line-height: 18px;
   color: #fff;
}
.option-block > span {
   margin-left: 10px;
}

.option-block {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

